<!DOCTYPE html>
<html lang="en">
<html>

    <head>
		<meta http-equiv="X-FRAME-OPTIONS" content="DENY"> 
    <link rel="stylesheet" type="text/css" href="login.css">
    </head>

  <body>
	  <section id="loginBox">
  <form name="forgotpassword" class="minimal" action="../controllers/forgotpassword.php" method="post">
  <label for="username">
			Username:
			<input type="text" name="username" id="username" placeholder="Username must be between 8 and 20 characters" pattern="^[a-zA-Z][a-zA-Z0-9-_\.]{8,20}$" required="required" />
	</label>
	  <label for="email">
			Email:      
			<input type="text" name="email" id="email" placeholder="Enter your email" required="required" />
	</label>

  <button type="submit" class="btn-minimal" name="submit">Reset Password</button>
  </form>
  </section>
  </body>
</html>
