<!--<html>
    <head> 
        <link rel="stylesheet" type="text/css" href="index.css">
    </head>
    <body>
        <div class="wrapper">
        <h1>TUM International Bank</h1>
            <div class="content">
            <p>
                Welcome to TUM International Bank. This Project is an outcome of Secure Coding Course. </br> </br>Please register if you dont have an account. 
                </p>
                <img src="vault.jpeg"></img>
        </div>
            <div class="login">
         <iframe src="login.html" allowTransparency="true"></iframe> 
            </div>    
        </div>
    </body>
</html>
-->

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"> 
    <meta http-equiv="X-FRAME-OPTIONS" content="DENY"> 
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="bootstrap.min.css">
	<link rel="stylesheet" href="styling.css">
	<script src="../lib/Js/jquery.js"></script>
	<!-- Optional: Incorporate the Bootstrap JavaScript plugins -->
	<script src="../lib/Js/bootstrap.min.js"></script>
  </head>
  <body id="page-top">
	  <!-- Header -->
    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-text">
                        <span class="name">TUM International Bank</span>    
                    </div>
                </div>
            </div>
        </div>
    </header>
    
    
     <section id="about">
		 <div class="container">
			 <div class="row">
					<div class="col-lg-12 text-center">
						<p>
							Welcome to TUM International Bank. This Project is an outcome of Secure Coding Course. 
							</br> </br> 
						</p>
					</div>
			</div>
			</br>
			
			 <div class="row">
					<div class="col-lg-3"> </div>
					<div class="col-lg-3 text-center"> 
					<p>Dont have an account?</p> </br>
						<a class="btn btn-primary btn-lg" href="Signup.html">Register</a>
					</div>
					<div class="col-lg-3 text-center"> 
					<p>Login to your Account</p> </br>
						<a class="btn btn-primary btn-lg" href="login.html">Login</a>
					</div>
			</div>
		
    </section>
    <footer class="text-center">
		<div class="container">
			
			<div class="row">
				<div class="col-lg-3"> </div>
				<div class="col-lg-3 text-right"> 
					<p>
							Developed by:
					</p>
				</div>
				<div class="col-lg-3 text-left"> 
					<p>
						Shivguru Rao </br>
						Manit Kumar  </br>
						Sreenath Prem 
					</p>
				</div>			
			</div>
            <div class="row">
				
                <div class="col-lg-12">
                    @copyright TUM International Bank
                </div>
            </div>
        </div>
	</footer>
  </body>
 </html>

