<html>
<head>
	<meta http-equiv="X-FRAME-OPTIONS" content="DENY"> 
    <link rel="stylesheet" type="text/css" href="login.css">    
</head>
   
<body>
<section id="loginBox">
	<h2>Login</h2>
	<form method="post" class="minimal" action="../controllers/login.php">
		<label for="username">
			Username:
			<input type="text" name="username" id="username" placeholder="Username must be between 8 and 20 characters" pattern="^[a-zA-Z][a-zA-Z0-9-_\.]{7,20}$" required="required" />
		</label>
		<label for="password">
			Password:
			<input type="password" name="password" id="password" placeholder="Password must contain 1 uppercase, lowercase and number" pattern="(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$" required="required" />
		</label>
        <label for="usertype">
            <select name ="typeselect" required>
                <option value="user" selected = "selected">Customer</option>
                <option value="employee">Employee</option>
                <option value="admin">Admin</option>
    
            </select>
        </label>     
        
		<button type="submit" class="btn-minimal">Sign in</button>
        <input type="button" id="Register" value="Register" class="btn-minimal" onclick="window.top.location.href='Signup.html'"/>
	</form>
     <a href="forgotpassword.html">Forgot Password?</a>
     
     
</section>
</body>	

</html>
